/* CSS Document */
a{text-decoration:none; color:#252525;}
.scroll{width:320px; height:120px; margin:0 auto;  position:relative; overflow:hidden;}
.mod_01{float:left; width:320px;}
.mod_01 img{display:block; width:320px; height:120px;}
.dotModule_new {padding:0 5px;height:11px;line-height:6px;-webkit-border-radius:11px;background:rgba(45,45,45,0.5);position:absolute;bottom:5px;right:10px;z-index:11;}
#slide_01_dot {text-align:center;}
#slide_01_dot span {display:inline-block;margin:0 3px;width:5px;height:5px;vertical-align:middle;background:#f7f7f7;-webkit-border-radius:5px;}
#slide_01_dot .selected {background:#66ff33;}